@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the parent takes the full viewport height */
    width: 100vw; /* Ensure the parent takes the full viewport width */
    margin: 0; /* Remove default margin */
    background-image: url('src/assets/register-background.png');
    background-color: #FF6767;
    background-size: cover;
    background-position: center;
}

.title {
     font-size: 36px;
     font-weight: 700;
     color: #212427;
     margin-bottom: 0.5em;
     font-family: Montserrat, sans-serif;
 }

.form {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1400px; /* Adjust the width as needed */
    height: 800px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the form horizontally */
    align-items: flex-start; /* Align items to the start */
}

.login-image {
    width: 40%;
    height: 80%;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;
    align-self: flex-end;
}


.form-input {
    margin-right: auto; /* Push the form-input to start after the center */
    width: 50%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.forgot-password {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: #FF6767;
    text-decoration: none;
    align-self: flex-end;
}

.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: Montserrat, sans-serif;
    margin-bottom: 1em;
}

.checkbox input {
    width: 18px;
    height: 18px;
}

.checkbox input:hover {
    cursor: pointer;
}

.checkbox:hover {
    cursor: pointer;
}

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    gap: 0.5em;
}

.method-image-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 18px;
}

.google {
    width: 32px;
    height: 32px;
    object-fit: fill;
    object-position: center;
}

.google:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
}

.google:active{
    transform: scale(1.0);
    transition-duration: 0.15s;
}

.x {
    width: 32px;
    height: 32px;
    object-fit: fill;
    object-position: center;
}

.x:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
}

.x:active {
    transform: scale(1.0);
    transition-duration: 0.15s;
}

.create-account {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: #008BD9;
    text-decoration: none;
}

.create-account:hover {
    text-decoration: underline;
    cursor: pointer;
}

.create-account:active {
    color: #005F8C;
}